# .gitignore

#ignorar DB postgress
postgres_data/
__pycache__/
.DS_Store
# Ignorar estados locales de terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
# Ignorar archivos de valores de variables
*.tfvars
*.tfvars.json